/StellaArdens.Test/bin
/TestResults
/StellaArdens.Data/bin
/StellaArdens.Data/obj
/StellaArdens/bin
/StellaArdens/obj
/.vs/ProjectEvaluation
/.vs/StellaArdens/FileContentIndex
/.vs/StellaArdens/DesignTimeBuild
/.vs/StellaArdens/v17
/StellaArdens.Test/obj/Debug/net8.0-windows
/StellaArdens.Test/obj
